name: all-echoes

on:
  workflow_dispatch:

permissions: {}

jobs:
  echo1:
    uses: ./.github/workflows/echo1.yml
  echo2:
    uses: ./.github/workflows/echo2.yml
  echo3:
    uses: ./.github/workflows/echo3.yml
  reporter:
    needs:
    - echo1
    - echo2
    - echo3
    runs-on: ubuntu-latest
    steps:
    - uses: collinmcneese/actions-rate-limit-reporter@v4.0.2
      with:
        access-token: ${{ secrets.GITHUB_TOKEN }}
