name: attest-single-file

permissions: {}

on:
  workflow_dispatch:
  pull_request:
    paths:
      - 'README.md'
      - '.github/workflows/attest-single-file.yml'

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      packages: write
      contents: read
      attestations: write

    steps:
      - name: Checkout
        uses: actions/checkout@v5
      - name: Attest
        uses: actions/attest-build-provenance@v3
        id: attest
        with:
          subject-path: ./README.md
