name: context

on:
  workflow_dispatch:
  issues: 
    types: [opened, edited]

permissions:
  issues: read

env:
  item1: item1value
  ITEM2: item2value

jobs:
  context:
    environment: context
    env:
      item3: item1value
      ITEM4: item2value
    runs-on: ubuntu-latest
    steps:
    - run: env | sort
    - uses: actions/github-script@v8
      with:
        script: |
          console.log(context)
