name: context

on:
  workflow_dispatch:
  issues: 
    types: [opened, edited]

permissions:
  issues: read

jobs:
  context:
    env:
      item1: item1value
      ITEM2: item2value
    runs-on: ubuntu-latest
    steps:
    - run: env | sort
    - uses: actions/github-script@v7
      with:
        script: |
          console.log(context)
