name: Deploy Tag

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    # Optionally, only run this workflow if the ref is a tag
    # if: ${{ startsWith(github.ref, 'refs/tags/') }}
    steps:
      - name: Trigger was a tag - Run Deployment of tag ${{ github.ref }}
        # Use the startsWith function to determine if the ref is a tag
        if: ${{ startsWith(github.ref, 'refs/tags/') }}
        run: echo "Deploying ${{ github.ref }}"
      - name: Trigger was a branch - Run Deployment of branch ${{ github.ref }}
        # Use the startsWith function to determine if the ref is a branch
        if: ${{ startsWith(github.ref, 'refs/heads/') }}
        run: echo "Deploying ${{ github.ref }}"