name: Dynamic Matrix

on:
  workflow_dispatch:
    inputs:
      run:
        type: choice
        options:
          - outputs-static
          - matrix-array
          - matrix-object
          - all

jobs:
  outputs-static:
    if: |
      inputs.run == 'outputs-static' ||
      inputs.run == 'all'
    runs-on: ubuntu-latest
    outputs:
      json-output: ${{ steps.set-output.outputs.json-output }}
    steps:
      - uses: actions/checkout@v4
      - id: set-output
        name: Set JSON Output
        run: |
          # Read the contents of a json file in this repo
          json='[{"directory":"dir1","artifact":"name1"},{"directory":"dir2","artifact":"name2"}]'
          echo "::set-output name=json-output::${json}"

  run-with-json:
    runs-on: ubuntu-latest
    needs: outputs-static
    strategy:
      matrix:
        iteration: ${{ fromJson(needs.outputs-static.outputs.json-output) }}
    steps:
      - uses: actions/checkout@v4
      - run: |
          mkdir -p ${{ matrix.iteration.directory }}
          echo "these are some contents" > ${{ matrix.iteration.directory }}/${{ matrix.iteration.artifact }}.txt
      - name: Upload Build Artifact
        uses: actions/upload-artifact@v3
        with:
          name: ${{ matrix.iteration.artifact }}
          path: ${{ matrix.iteration.directory }}

  outputs-array:
    if: |
      inputs.run == 'outputs-array' ||
      inputs.run == 'all'
    runs-on: ubuntu-latest
    outputs:
      random-number: ${{ steps.random-number.outputs.result }}
    steps:
      - id: random-number
        uses: actions/github-script@v6
        with:
          script: |
            const min = 1;
            const max = 5;
            const randomnumber = Math.floor(Math.random() * (max - min + 1)) + min;
            let returnArray = [];
            for (let i = 1; i <= randomnumber; i++) {
              returnArray.push(`matrix${i}`);
            }
            let summaryMessage = `Used random number ${randomnumber} to create ${returnArray.length} output items`;
            core.summary
                .addHeading('Output Array Summary')
                .addRaw(summaryMessage)
                .write();

            return returnArray;

  matrix-array:
    needs: outputs-array
    runs-on: ubuntu-latest
    strategy:
      matrix:
        iteration: ${{ fromJson(needs.outputs-array.outputs.random-number) }}
    steps:
      - name: Matrix - ${{ matrix.iteration }}
        run: echo ${{ matrix.iteration }}

  output-object:
    if: |
      inputs.run == 'output-object' ||
      inputs.run == 'all'
    runs-on: ubuntu-latest
    outputs:
      random-object: ${{ steps.random-object.outputs.result }}
    steps:
      - id: random-object
        uses: actions/github-script@v6
        with:
          script: |
            const min = 1;
            const max = 5;
            const randomnumber = Math.floor(Math.random() * (max - min + 1)) + min;
            let returnObject = [];

            for (let i = 1; i <= randomnumber; i++) {
              returnObject.push({ name: `matrix${i}`, value: `value${i}` });
            }

            let summaryMessage = `Used random number ${randomnumber} to create ${returnObject.length} output items`;
            core.summary
                .addHeading('Output Object Summary')
                .addRaw(summaryMessage)
                .write();

            return returnObject;

  matrix-object:
    needs: output-object
    runs-on: ubuntu-latest
    strategy:
      matrix:
        iteration: ${{ fromJson(needs.output-object.outputs.random-object) }}
    steps:
      - name: Matrix - ${{ matrix.iteration.name }} ${{ matrix.iteration.value }}
        run: echo ${{ matrix.iteration.name }}

  matrix-object-reusable:
    needs: output-object
    strategy:
      matrix:
        iteration: ${{ fromJson(needs.output-object.outputs.random-object) }}
    uses: ./.github/workflows/dynamic-called.yml
    with:
        name: ${{ matrix.iteration.name }}
        value: ${{ matrix.iteration.value }}
