name: hello to github_workspace

on:
  workflow_dispatch:
  pull_request:
    paths:
      - '.github/workflows/hello-workspace.yml'

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-sleep
    steps:
      - uses: actions/checkout@v5
      - run: echo $GITHUB_WORKSPACE

