name: issue-workflow-called

on:
  workflow_call:
  pull_request:
    paths:
      - '.github/workflows/issue-workflow-called.yml'

permissions:
  issues: read

jobs:
  issue-workflow-called:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v7
        with:
          script: |
            console.log(process.env.JSON_GITHUB_EVENT)
            console.log(process.env.JSON_GITHUB_CONTEXT)
        env:
          JSON_GITHUB_EVENT: ${{ toJson(github.event) }}
          JSON_GITHUB_CONTEXT: ${{ toJson(github.context) }}
