name: self-hosted-container
on:
  workflow_dispatch:
jobs:
  vault-test:
    # Loads vault image as a service in development mode then uses the
    # hashicorp/vault-action to interact with the vault server
    runs-on: arc-runner-set-collinmcneese-test
    # services:
    #   vault:
    #     image: hashicorp/vault
    #     ports:
    #       - 8200:8200
    container:
      image: ghcr.io/actions/actions-runner:latest
      volumes:
        - /var/run/docker.sock:/var/run/docker.sock
      # env:
      #   NODE_ENV: development
      # ports:
      #   - 80
    steps:
      - name: docker ps
        run: docker ps
      - name: docker run vault
        run: |
          docker run --cap-add=IPC_LOCK -d --name=vault -e 'VAULT_DEV_ROOT_TOKEN_ID=root'  hashicorp/vault
      - name: Check out the repository
        uses: actions/checkout@v4
      - run: cat /var/run/secrets/kubernetes.io/serviceaccount/token
      - name: Set up Vault
        id: vault
        uses: hashicorp/vault-action@v3
        with:
          url: http://localhost:8200
          token: root
          # secrets: |
          #   secret/data/my-secret
      - name: Get the secret
        run: echo ${{ steps.vault.outputs.secret }}
  container-test-job:
    runs-on: arc-runner-set-collinmcneese-test
    # container:
    #   image: node:20
    #   env:
    #     NODE_ENV: development
    #   ports:
    #     - 80
    services:
      node:
        image: node:20
        env:
          NODE_ENV: development
        ports:
        - 80
    #   opensearch:
    #     image: opensearchproject/opensearch:latest
    #     env:
    #       discovery.type: single-node
    #       cluster.name: opensearch-cluster
    #       bootstrap.memory_lock: "true"
    #       "OPENSEARCH_JAVA_OPTS": "-Xms512m -Xmx512m"
    #     ports:
    #       - 9200:9200
    #       - 9300:9300
    #     volumes:
    #       - opensearch-data:/usr/share/opensearch/data
    #       - opensearch-logs:/usr/share/opensearch/logs
    #       - opensearch-config:/usr/share/opensearch/config
    #   redis:
    #     image: redis
    #     ports:
    #       - 6379:6379
    steps:
      - name: docker ps
        run: docker ps
      - uses: actions/checkout@v4
      - uses: actions/setup-node@v4
        with:
          node-version: 20
      - run: which node
